body {
    background: rgb(31, 27, 27)
}

p {
    text-align: center;
}

article {
    max-width: 800px;
    margin: auto;
}

.handouts {
    max-width: 400px;
}

h1 {
    text-align: center;
    color: darkseagreen;
}

article h2, ul, li {
    text-align: left;
}


h2 {
    color: darkseagreen;
}

h1, h2 {
    font-family: "Noto Sans", sans-serif;
}

ul, p, figcaption {
    color: seashell;
    font-family: "Source Serif Pro", serif;
}

a {
    font-family:'Courier New', Courier, monospace;
}

a:link {
    color: skyblue;
}

a:visited {
    color: violet;
}

ul {
    text-align: center;
    list-style-position: inside;
}

#disclaimer {
    margin: auto;
    width: 400px;
}

#baby {
    border-radius: 2%;
}

figcaption {
    text-align: center;
}

.about {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}